<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]TMS</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/vendor.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Task Manager System</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto navbar-top-links">
                </ul>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>

        <nav class="bg-light sidebar" role="navigation">
            <ul class="nav-components">
                <li>
                    <a href="/Dashboard/Index"><i class="fas fa-chart-line"></i>  Dashboard</a>
                </li>

                <li>
                    <a href="/Dashboard/Calendar"><i class="fa fa-calendar aria-hidden="true""></i>  Calendar Page</a>
                </li>

                <li>
                    <a href="#taskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle drop"><i class="fas fa-tasks"></i>  Task</a>
                    <ul class="collapse" id="taskSubmenu">
                        <li>
                            <a href="/Task/Create"><i class="fa fa-plus" aria-hidden="true"></i>  Create</a>
                        </li>
                        <li>
                            <a href="/Task/List"><i class="fa fa-bars" aria-hidden="true"></i>  View All Task</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#labelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-tags"></i> Label</a>
                    <ul class="collapse" id="labelSubmenu">
                        <li>
                            <a href="/Label/Create"><i class="fa fa-plus" aria-hidden="true"></i>  Create</a>
                        </li>
                        <li>
                            <a href="/Label/List"><i class="fa fa-bars" aria-hidden="true"></i>  View All Labels</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-cog"></i> Settings</a>
                    <ul class="collapse" id="settingsSubmenu">
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit Profile</a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fa fa-key" aria-hidden="true"></i>  Change password</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="body-content body-profile col-md-10">
                @RenderBody()
        </div>
    </div>

    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
