@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container-fluid justify-content-center align-items-center h-100 " id="change-password-form">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-7 col-lg-4 col-xl-4">
            <h2>@ViewData["Title"]</h2>
            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>

