@model TMS.EntitiesDTO.LabelDTO

@{
    ViewData["Title"] = "Create label";
    Layout = "/Views/Shared/_LayoutPages.cshtml";
}


<center><h3>Create new label</h3></center>
<hr />

<div class="container">
    <div class="col-md-6">
        <form asp-action="Create">
            @await Html.PartialAsync("FormFields", Model)
        </form>
        <br />
        <a asp-action="List" class="btn btn-dark">Back to list</a>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
