@model TMS.EntitiesDTO.LabelDTO

@{
    ViewData["Title"] = "Edit label";
    Layout = "/Views/Shared/_LayoutPages.cshtml";
}

<center><h3>Edit label</h3></center>
<hr />
<div class="container">
    <div class="col-md-6">
        <form asp-action="Edit">
            @await Html.PartialAsync("FormFields", Model)
        </form>
        <br />
        <a asp-action="List">Back to List</a>
    </div>
</div>
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}